[submodule "kickstart"]
	path = kickstart
	url = https://github.com/adamjgrant/kickstart.git
[submodule "_sass/AdamUX-Theme"]
	path = _sass/AdamUX-Theme
	url = git@github.com:adamjgrant/AdamUX-Theme.git
