<header class="navigation">
  <nav>
    <ul>
      <li class="navbar-title">
        <a href="http://adamux.com">Adam Kochanowicz</a>
      </li>
      <li>
        <a href="http://adamux.com">Home</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/delights">Delights</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/mobile">Mobile Experiences</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/development">Full Stack Development</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/design">Design</a>
      </li>
    </ul>

    <ul>
      <li>
        <a class="active" href="/">Adam's Lists</a>
      </li>
    </ul>
  </nav>
</header>
