<header class="navigation" data-ks-navbar="true">
  <nav>
    <ul>
      <li class="navbar-title">
        <h1><a href="http://adamgrant.me">Adam Grant</a></h1>
        <button role="button">=</button>
      </li>
      <li>
        <a href="http://adamgrant.me/mobile">Mobile</a>
      </li>
      <li>
        <a href="http://adamgrant.me/development">Development</a>
      </li>
      <li>
        <a href="http://adamgrant.me/design">Design</a>
      </li>
      <li>
        <a href="http://adamgrant.me/delights">Delights</a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="http://adamgrant.me/bio">Bio</a>
      </li>
      <li>
        <a class="active" href="/">Blog</a>
      </li>
    </ul>
  </nav>
</header>

<header class="al-nav">
  <nav>
    <ul>
      <li class="navbar-title">
      </li>
    </ul>
  </nav>
</header>
