ul.post-list
  +list($style: 'unstyled')

  > li
    margin-bottom: $space * 2

  .post-meta
    color: map-get($gray, light)

  h2
    +heading-sm
    margin-top: 0px
    font-weight: 300

.post-content
  +p(true)

  p
    +p(true)

  @media screen and (min-width: $tablet-landscape)
    max-width: 700px

  img
    display: block
    margin:
      left: 0
      top: $space
      bottom: $space * 2

  .gravatar
    width: 25px
    height: 25px
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    margin-right: 5px
    margin:
      top: $space
      bottom: $space

  .post-subheader
    text-align: left

  .rss-subscribe,
  .post-meta
    margin: 0
    font-size: 1rem

  .rss-subscribe
    vertical-align: center
    display: inline-block

    a
      color: map-get($colors, orange)

    svg
      width: 25px
      height: 25px
      display: inline-block
      vertical-align: top
      fill: map-get($colors, orange)

  .post-meta
    display: inline-block
    color: map-get($gray, light)
    margin-right: $space


  .post-header
    // margin-bottom: $space * 2

.post-list
  @media screen and (min-width: $tablet-landscape)
    -moz-columns: 2
    -webkit-columns: 2
    columns: 2

h1.post-title
  +heading-rg
  font-weight: 500

  @media screen and (min-width: $tablet)
    +heading-xl
    font-weight: 500
    text-align: center

  +gt($tablet-landscape)
    text-align: left
