.post-content
  +p(true)

  p
    +p(true)

  @media screen and (min-width: $tablet-landscape)
    max-width: 700px

  img
    display: block
    margin:
      left: 0
      top: $space
      bottom: $space * 2

  .gravatar
    width: 25px
    height: 25px
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    margin-right: 5px
    margin:
      top: 0
      bottom: 0

  .post-subheader
    text-align: left
    margin-bottom: $space

  .rss-subscribe,
  .post-meta
    margin: 0
    font-size: 1rem
    margin-top: $space

    +gt($phone)
      margin-top: 0

  .rss-subscribe
    vertical-align: center
    display: inline-block

    a
      color: map-get($colors, orange)

    svg
      width: 25px
      height: 25px
      display: inline-block
      vertical-align: top
      fill: map-get($colors, orange)

  .post-meta
    display: inline-block
    color: map-get($gray, light)
    margin-right: $space


  .post-header
    // margin-bottom: $space * 2

h1.post-title
  +heading-rg
  font-weight: 500

  @media screen and (min-width: $tablet)
    +heading-xl
    font-weight: 500
    text-align: center

  +gt($tablet-landscape)
    text-align: left
