img
  max-width: 250px

  +gt($phone)
    max-width: 300px

  +gt($tablet)
    max-width: 400px

  +gt($tablet-landscape)
    max-width: 700px
  
.images
  +row

  iframe
    display: block
    margin: $space auto

  .fourth
    +column('half')

    img
      width: 100%

    +gt($tablet)
      +column(3)

  .third
    +column('third')

    img
      width: 100%
